.DS_Store
/data/akaunting/*
!/data/akaunting/.empty
/data/mariadb/*
!/data/mariadb/.empty
/data/mysql/*
!/data/mysql/.empty
/data/nextcloud/*
!/data/nextcloud/.empty
/data/ghost/*
!/data/ghost/config*
!/data/ghost/content
/data/ghost/content/*
!/data/ghost/content/.empty
/data/caddy/system/config/*
!/data/caddy/system/config/.empty
/data/caddy/system/data/*
!/data/caddy/system/data/.empty
/data/web/*
!/data/web/.empty
!/data/web/phpmyadmin*
/data/web/phpmyadmin/tmp
!/data/web/rak-summit-form*
!/data/web/ebook-download-tracker*
!/data/web/html*
/data/web-print/*
!/data/web-print/system/
/data/web-print/system/cache/*
!/data/web-print/system/cache/.empty
/data/https-portal/logs/*
!/data/https-portal/logs/.empty
/data/nginx/ssl/*
!/data/nginx/ssl/.empty